/* General Styles */
body {
    background-image: url("/static/background.jpeg");
    background-size: cover;
    font-family: 'Arial', sans-serif;
    background-color: #d3d3dc;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

button {
    background-color: #4a90e2; 
    color: white;
    border: 2px solid #357abd;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #357abd;
    transform: scale(1.05); 
}

h1 {
    color: #f2eaea;
    font-size: 2.7rem;
}

h2 {
    color: #f2eaea;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

img[src*="video_feed"] {
    width: 50vw; 
    height: auto;
    max-height: 60vh; 
    border-radius: 10px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid #4a90e2;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e7ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}

/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    img {
        width: 100%;
        height: auto;
    }
}


